<span class="liking-system <%= micropost.id %>">
  <%= link_to like_micropost_path(micropost), :class => 'btn btn-primary', method: :put, :remote => true do %>
    👌
  <%= micropost.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_micropost_path(micropost), :class => 'btn btn-primary', method: :put, :remote => true do %>
    👎
  <%= micropost.get_downvotes.size %>
<% end %>
</span>
